<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
    <script src="/static/js/bootstrap/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <script src="/static/js/ckeditor/ckeditor.js"></script>
</head>
<body>

{{>header}}

<div class="row">

    {{>left}}

    <div class="container col-8">

        <h1>글 쓰기</h1>

        <form action="/save" method="post" class="min-vh-100">
            <label for="editor"></label><textarea name="content" id="editor" class="ck-editor_max ck-editor__editable">
            &lt;p&gt;This is some sample content.&lt;/p&gt;
        </textarea>
            <p><input type="submit" value="Submit"></p>
        </form>


    </div>

    {{>right}}

</div>
</body>

{{>footer}}

<style>
    .ck-editor__editable {
        min-height: 350px;
    }

    .ck-editor_max {
        max-height: 500px;
    }
</style>
<script>

    ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
</script>
</html>